.navbar {
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  
  .nav-menu {
    background-color:white;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    /* align-items: center; */
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #5f74ed;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: white;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }

  .topbar{
    width:100%;
    height:50px;
    background-color: white;
    position: sticky;
    top:0;
    z-index:999;
}

.topbarWrapper{
    height:100%;
    padding:0px 20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: bold;
    font-size:30px;
    color:darkblue;
    cursor:pointer;
}
.topRight{
    display: flex;
}
.topbarIconContainer{
    position: relative;
    cursor:pointer;
    margin-right: 10px;
    color: #555;
}

.topIconBadge{
    width: 15px;
    height: 15px;
    position: absolute;
    top:-5px;
    right:5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:10px;
    
}

.topAvatar{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    cursor: pointer;
}